<div class="container">
  <h1>Welcome to Email sender App...</h1>
  <p>Send email to anyone</p>
  <a
    routerLink="sendemail"
    mat-raised-button
    color="primary"
    (click)="btnClick()"
  >
    Send Email
  </a>
</div>

<!-- <p>home works!</p> -->
<button mat-raised-button color="primary" (click)="btnClick()">
  Send Email</button
><br /><br />
<button mat-raised-button color="accent" (click)="btnClick()">Accent</button
><br /><br />
<button mat-raised-button color="warn" (click)="btnClick1()">Warn</button
><br /><br />
<button mat-raised-button disabled>Disabled</button><br />
